services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: spring-boot-admin-panel-project:local
    container_name: spring-boot-admin-panel-project
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: dev
